<h1 class="pb-4">Explore Latest</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Explore Latest</li>
    </ol>
</nav>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <% if (recipes && recipes.length > 0) { %>
        <% recipes.forEach(function(recipeItem) { %>
            <div class="col">
                <a href="/recipe/<%= recipeItem.id %>" class="text-decoration-none text-dark">
                    <div class="card shadow-sm h-100">
                        <img src="/uploads/<%= recipeItem.image %>" class="card-img-top" alt="<%= recipeItem.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= recipeItem.name %></h5>
                            <p class="card-text">Description or additional info about the recipe can be added here.</p>
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>
    <% } else { %>
        <div class="col">
            <p>No items found.</p>
        </div>
    <% } %>
</div>
